[submodule "terraform"]
	path = terraform
	url = https://github.com/devdevmac/terraform.git
[submodule "galaxy"]
	path = galaxy
	url = https://github.com/devdevmac/galaxy.git
[submodule "boot2docker"]
	path = boot2docker
	url = https://github.com/devdevmac/boot2docker.git
[submodule "Git-Auto-Deploy"]
	path = Git-Auto-Deploy
	url = https://github.com/devdevmac/Git-Auto-Deploy.git
